html,body{
	height:100%;
}

body{
	font-family: arimo;
	font-size: 14px;
	padding-top: 80px;
}
.container{
	padding-bottom: 10px;
}
.navbar-brand > img {
  max-width: 100px;
}
.navbar-brand{
  height:auto;
  line-height: normal;
}
.navbar{
  background-color: #333;
}
a:focus, a:hover {
  color: #000;
}
a {
  color: #990000;
}
.navbar-default .navbar-nav > li > a {
  color:#fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active{
  color:#dadada;
}
.blackbar{
	background-color: #000;
	color:#fff;
}
.black-section{
	background-color:#000;
	margin-top:0;
}
.grid-section{
	background-image: url("/assets/img/back1.jpg");
	background-size:cover;
	height:300px;
	width:100%;
	background-position: center;
}

.red-section{
	background-color: #333;
	margin-top:20px;
	p {
		color:#fff;
		font-size: 20px;
	}
}
h1, h2, h3, h4, h5, h6 {
	color: #555555;
	font-family: archivo narrow;
	letter-spacing: 0.3px;
}
.my-name{
	font-size: 40px;
	font-family: Archivo Narrow;
	color: #28abed;
	text-transform: uppercase;
}
.my-about{
	font-size: 30px;
	text-transform: uppercase;
}
.my-what {
	font-size: 90px;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	color: #45bbda;
}
.my-contact,.my-language {
	color: #ffffff;
}
.my-technologies {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	text-transform: uppercase;
	position: relative;
	width: 100%;
}

.my-p{
	margin-top: 20px;
	width: 100%;
	color: #666666;
	font-family: arimo;
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 30px;
}
.my-img {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}
.social-i{
	color:#fff;
	line-height: 35px;
	font-size: 20px;
}
.social-i
.social-i:hover{
	color:#eee;
}
.name-col{
	margin-top: 32px;
	margin-bottom: 22px;
}
.control-label {
	color:#fff;
}
.tech.row{
	margin-top:25px;
}
.service-list {
  margin-top: 20px;
}
.service-list li {
  width: 100%;
  color: #666666;
  font-family: arimo;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 30px;
}
.service-list li, .my-p, .seemore{
  font-size: 20px;
}
.my-a.col-xs-3{
	padding-left:0;
}
.red-section p.smalltext{
	font-size: 12px;
}
.red-section a{
	color:#fff;
	font-weight: bold;
}
.inner-text {
	height:100%;
	width:100%;
	background: rgba(0, 0, 0, .35);
	display:table;
}
.inner-text div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.inner-text div h2{
	color:#fff;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.tech img {
		max-width: 80%;
		margin-bottom:20px;
	}
	.grid-section{
		background: #fff;
		min-height:0;
		padding-bottom:20px;
		height:auto;
	}
	.inner-text div h2{
		margin-top:10px;
		font-size: 20px;
	}
	.inner-text{
		background: #9d9d9d;
		height:auto;
	}
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.grid-section{
		background: #fff;
		min-height:0;
		padding-bottom:20px;
		height:auto;
	}

	.my-name{
		font-size: 40px;
	}
	.my-about{
		font-size: 20px;
	}
	.my-what {
		font-size: 50px;
	}
	.my-contact, .my-technologies,.my-language {
		font-size: 24px;
	}
	.tech img {
		max-width: 80%;
		margin-bottom:20px;
	}
	.zhong-img{
		max-width:50%;
	}
	.inner-text div h2{
		margin-top:10px;
		font-size: 20px;
	}
	.inner-text{
		background: #9d9d9d;
		height:auto;
	}
	body{
		padding-top: 90px;
	}
	.service-list li, .my-p, .seemore {
		font-size: 14px;
	}

}